h1, p, button {
    color: rgb(255, 252, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}
h1 {
    border: 2px;
    background-color: #16599b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-self: center;
    width: 1000px;
    margin: auto;
    border-radius: 15px 15px;
}
p {
    font-size: 25px;
    align-self: center;
    text-align: center;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 5px 8px 5px;
    border-radius: 12px;
}
button {
    display: flex;
    text-align: center;
    width: 1000px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-self: center;
}
body {
    min-width: 1280px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #5296d9;
    left: 50%;
    right: 50%;
}
div {
    align-items: center;
}

/* Первый лист */
.first_list button {
    background-color: #815653;
}
.first_list button:hover {
    background-color: #583b39;
    transform: scale(1.05);
    transition: 0.4s;
}

/* Второй лист */
.second_list button {
    background-color: darkolivegreen;
}
.second_list button:hover {
    background-color: rgb(59, 75, 31);
    transform: scale(1.05);
    transition: 0.4s;
}

/* Третий лист */
.third_list button {
    background-color: rgb(233, 115, 72);
}
.third_list button:hover {
    background-color: rgb(134, 67, 42);
    transform: scale(1.05);
    transition: 0.4s;
}

/* Четвёртый лист */
.fourth_list button {
    background-color: firebrick;
}
.fourth_list button:hover {
    background-color: rgb(112, 26, 26);
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
/* Четвёртый лист */
.fifth_list button {
    background-color: rgb(15, 88, 72);
}
.fifth_list button:hover {
    background-color: rgb(10, 63, 52);
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

.header_button{
    margin-bottom: -10px;
    width: 400px;
    display: flex;
    justify-content: center;
    background: #16599b;
    font-weight: 500;
}
.header_button:active{
    background: #3a6edd;
}
a{
    text-decoration: none;
    color: rgb(255, 252, 237);
}